<% content_for :additional_head do %>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-_ZJOQLMJWhZm_e8WHt7Ykcen9KgnJ4c&libraries=places&callback=initMap"
  async defer></script>
<% end %>

<div class="container-fluid">
  <div class="row">
    <% if logged_in? %>
      <div class="col-sm-6 col-sm-offset-2">

        <div class="col-sm-8">
          <input id="pac-input" class="controls form-control" type="text" placeholder="Enter a location">
        </div>
        <div class="col-sm-2">
          <form action="" class="button_to btn btn-primary" id="origin">
            Start
          </form>
        </div>
        <div class="col-sm-2">
          <form action="" class="button_to btn btn-success" id="origin">
            End
          </form>
        </div>
      </div>

      <div class="col-sm-2">
        <form class="button_to btn btn-danger" id="start-trip">
          Get route!
        </form>
      </div>

    <% else %>

      <div class="col-sm-8 col-sm-offset-2">
        <h2 style="text-align:center">We are still in Beta. Sign up for early access!</h2>
      </div>

    <% end %>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <%= content_for :map %>
      <%= render 'maps/map' %>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
