<h1 style="position:relative;left:40%">Welcome to Pace!</h1>

<div>
  <img src="https://cutecatshq.com/wp-content/uploads/2015/01/My-cat-is-saying-hello.jpg" alt="Hello World" style="position:absolute;left:20%">
</div>