  <% content_for :header do %>
    <% javascript_include_tag 'map' %>
  <% end %>
  <style>
    .gmnoprint a, .gmnoprint span {
        display:none;
    }
    .gmnoprint div {
        background:none !important;
    }
  </style>
  <div id="map" style="height:600px; width:100%"></div>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC62LADU--Wasiae3_LGpkvaVIUlYfJ1EU&callback=initMap"
  async defer></script>
