<nav class="navbar" role="navigation">
  <div class="container-fluid">
    <p id="notice"><%= notice %></p>
    <%= link_to "Home", root_path %>
    <%= link_to "Sign Up", new_user_path %>
  </div>
</nav>