<div class="container-fluid">
  <div class="row cards col-sm-10 col-sm-offset-1">
    <h1>My Places</h1>
    <div class="container-fluid">
      <% (@users_places || []).each_with_index do |my_place, index| %>
        <div class="card card-inverse col-sm-3">
          <div class="card-block">
          <%= button_to users_place_path(my_place.id), :method => :delete, class: "btn-transparent" do %>
            <span class="glyphicon glyphicon-remove glyphicon-inverse"></span>
          <% end %>
            <h4 class="card-title">
              <%= best_in_place my_place, :name %>
            </h4>
            <p class="card-text">
              <%= my_place.address %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>