// Place all the styles related to the users_places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
  background-color: #222;
  border: 2px solid #fff;
  border-radius: 16px;
  padding-bottom: 10px;
}

.card-title {
  color: #DD8888;
  height: 50px;
  padding-top: 10px;
  h4 {
    vertical-align: middle;
  }
}

.card-text {
  color: #CCCCCC;
  height: 70px;
}

.btn-transparent {
  background-color: transparent;
  border-color: transparent;
  color: #CCCCCC;
  margin-left: 90%;
  margin-top: 5%;
  padding: 0px;
}
