<div class="container-fluid">
  <div class="row">
    <h1>My Places</h1>
    <div class="row">
      <% (@places || []).each_with_index do |place, index| %>
        <div class="card col-sm-2">
          <div class="card-block">
            <h4 class="card-title">
              <%= place.name %>
            </h4>
            <p class="card-text">
              <%= place.address %>
            </p>
            <%= link_to "delete", place_path(place.id), :method => :delete %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

